body {
        background-color: black;
	color: white;
        whidth: 300px;
        height: 100px;
}

select {
	border: solid 2px #ff6a19;
	color: white;
}

.title {
	font-size: 50px;
}

button {
	border: solid 2px white;
	background: none;
	color: white;
	height: 35px;
	width: 70px;
	border-radius: 25px;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, color 0.5s;
}

button:hover {
	background-color: white;
	color: black;
}

a:holder {
	cursor: pointer;
}

select {
	color: black;
	height: 20px;
	width: 150px;
	border-radius: 25px;
	background: none;
	border: solid 2px black;
}

.input {
	height: 15px;
	width: 150px;
	border-radius: 25px;
	border: solid 2px black;
	text-align: center;
	background: none;
	transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s, color 0.5s;
}

.input:focus {
    width: 160px;
    height: 20px;
}
